---
import Layout from '../layouts/Layout.astro';

import unfollowerImg from "../assets/projects/unfollower.png"
import basualdoImg from "../assets/projects/basualdo.png"
import vacacionesConCodyImg from "../assets/projects/vacaciones-con-cody.png"
import criticalCssExtractorImg from "../assets/projects/critical-css-extractor.jpg"

const projects = [{
    img: unfollowerImg,
    name: 'Unfollower',
    desc: '"Unfollower" is an application that allows you to unfollow in large numbers with a single click, and much more.',
    stack: 'Vue 2, Vuetify,  Vercel, Instagram-private-api.',
    link: 'https://unfollower.vercel.app/'
},
{
    img: basualdoImg,
    name: 'Basualdo',
    desc: '"Basualdo" is a complete ecommerce with cart, checkout, and all the necessary features.',
    stack: 'Vue 2, Vuetify, Vuex, Pathify, Mercadopago, Express.',
    link: 'https://materialesbasualdo.com.ar/'
},
{
    img: vacacionesConCodyImg,
    name: 'Vacaciones con cody',
    desc: '"Vacaciones con cody" is a simple page designed for a code challenge from codigofacilito.com',
    stack: 'Html, Css, JS, Swiper.js, Github pages.',
    link: 'https://pepinogttv.github.io/vacaciones-cody/'
},
{
    img: criticalCssExtractorImg,
    name: 'Cticial CSS Extractor',
    desc: '"Cticial CSS Extractor" is a script that allows you to obtain the critical css of a website by using the chrome dev tools (with scraping).',
    stack: 'Node.js, Playwright.',
    link: 'https://github.com/pepinogttv/critical-css-extractor'
}
]

---

<Layout title="Simon Blanco - Projects" activeLink="1">
    <div class="md:w-3/4 w-10/12 m-auto flex flex-col justify-center lg:pt-16 pt-14">
        <h1 class=" lg:text-left text-4xl mb-8 uppercase text-center">Some
            projects</h1>
        <ul class="flex flex-col items-center gap-x-10 lg:flex-row lg:flex-wrap lg:max-w-screen-md xl:max-w-none">
            {
            projects.map((project) => {
            return (
            <li class="flex flex-col lg:w-72 md:w-3/4 mb-12">
                <a href={project.link} class="w-full" target="_blank" rel="noopener noreferrer">
                    <img src={project.img} alt={project.name} class="w-full rounded h-40 object-cover cursor-pointer" />
                </a>
                <a href={project.link} target="_blank" rel="noopener noreferrer">
                    <h2 class="text-2xl py-1 flex items-center cursor-pointer">
                        <span class="mr-2">{project.name}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill-rule="evenodd"
                            clip-rule="evenodd" fill="white">
                            <path
                                d="M14.851 11.923c-.179-.641-.521-1.246-1.025-1.749-1.562-1.562-4.095-1.563-5.657 0l-4.998 4.998c-1.562 1.563-1.563 4.095 0 5.657 1.562 1.563 4.096 1.561 5.656 0l3.842-3.841.333.009c.404 0 .802-.04 1.189-.117l-4.657 4.656c-.975.976-2.255 1.464-3.535 1.464-1.28 0-2.56-.488-3.535-1.464-1.952-1.951-1.952-5.12 0-7.071l4.998-4.998c.975-.976 2.256-1.464 3.536-1.464 1.279 0 2.56.488 3.535 1.464.493.493.861 1.063 1.105 1.672l-.787.784zm-5.703.147c.178.643.521 1.25 1.026 1.756 1.562 1.563 4.096 1.561 5.656 0l4.999-4.998c1.563-1.562 1.563-4.095 0-5.657-1.562-1.562-4.095-1.563-5.657 0l-3.841 3.841-.333-.009c-.404 0-.802.04-1.189.117l4.656-4.656c.975-.976 2.256-1.464 3.536-1.464 1.279 0 2.56.488 3.535 1.464 1.951 1.951 1.951 5.119 0 7.071l-4.999 4.998c-.975.976-2.255 1.464-3.535 1.464-1.28 0-2.56-.488-3.535-1.464-.494-.495-.863-1.067-1.107-1.678l.788-.785z" />
                        </svg>
                    </h2>
                </a>
                <p class="text-sm font-light md:min-h-[75px] mt-1">{project.desc}</p>
                <div class="text-xs font-semibold mt-2">{project.stack}</div>
            </li>
            )
            })
            }
        </ul>
    </div>
</Layout>